<% if(theme.author.github) { %>
<div class="github-card">
<p class="asidetitle"><%= __('github-card') %></p>
<div class="github-card" data-github="zxjsdp" data-width="250" data-height="119" data-theme="medium">
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
</div>
  </div>
<% } %>
